@tailwind base;
@tailwind components;
@tailwind utilities;

/*Reset*/
html,body,header,section,p,div,ul,li,dl,dt,dd,footer,address,h1,h2,h3,h4 {margin:0;padding:0}
article,aside,footer,header,nav,section {display:block}

/* フォントロード */
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

:root {
    --header_color: #04202a;
    --bg-color: rgba(4,32,42,0.8);
    --link-color: #9FB9FE;
    --link-bover-color: #1758FD;
    --caption-color: var(--link-color);
    --date-color: var(--link-color);
    --global-bg-color: rgba(4,32,42,0.6);
    --main-font-color: white;
    --main-font: "メイリオ", "Meiryo", "MS Pゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
}

/*Base*/
*, *:before, *:after {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}


* {
    margin : 0px;
    padding : 0px;
}

html, body {
    width:100%;
    height:100%;/*for Old*/
    height:100vh;
}

html {
    font-size : 62.5%;
}

body {
    font-family : var(--main-font);
    text-align : center;
    background : var(--bg-color);
    color : var(--main-font-color);
    font-size : 2.2rem;
    text-size-adjust : 100%;
    -webkit-text-size-adjust: 100%; /* Safari */
}

img {
    border : 0px none;
}

table {
    border-collapse : collapse;
    width : 100%;
    margin-top : 15px;
}

caption {
    font-size : 3.2rem;
    font-weight : bold;
    text-align : center;
    margin-bottom : 15px;
    color : var(--caption-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color : var(--link-bover-color);
    text-decoration : underline;
}

p {
    margin-bottom : 1em;
}

ul {
    list-style : none;
}

/************************************************/
/* header */

#header {
    background-color: white;
    width: 100%;
}

.nav_area {
    background-color: white;
    width: 100%;
    padding: 0 10%;
    margin:auto;
}

.nav_box {
    display: flex;
    height: 75px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 75px;
    height: 75px;
}

.nav_left {
    display: flex;
    align-items: center;
}

.nav_name_box {
    display: flex;
    margin: 0 10px;
    height: 100%;
}

.nav_name {
    font-size: 1.6rem;
}

/************************************************/
/* main */

#main {
    width : 80%;
    margin : 10px auto;
    border : solid 5px #333333;
    border-radius : 15px;

      /* HDx0.9 */
    max-width : 1728px;
    padding : 15px;

    position: relative;
    overflow: hidden;
}
